#__wrapper{
	position: fixed;
    z-index: 100000000;
	opacity: 0.4;
	background-color: #0D8EC7;
	display: none;
	cursor: pointer;
	transition-property: top, left, width, height, display;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

div#__wrapper.active{
    border: 2px dashed aliceblue;
}

div#__wrapper.active::after {
    content: 'x';
    color: #1D1919;
    font-size: 21px;
    font-weight: bolder;
    width: 21px;
    height: 21px;
    border: 1px dashed rgb(8, 84, 117);
    border-radius: 50%;
    display: block;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    position: absolute;
    top: -12px;
    z-index: 9999999;
    right: -2px;
}
.qtip-custom{
    z-index: 100000001!important;
}